.Adminpagemain {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: flex-start;
  align-items: center;
  width: 88vw;
  height: 93vh;
  color: white;
  font-family: "Arial", Segoe UI;
  border: 1px red solid;
}

.Invitetrainer{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86vw;
  height: 7vh;
  color: white;
  border: 1px red solid;
}

.Invitecustomer{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86vw;
  height: 7vh;
  color: white;
  border: 1px red solid;
}

.Generatetokentraindiv, .Generatetokencustdiv{
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 18vw;
  height: 5vh;
  color: white;
  border: 1px red solid;
}

.Customercompdiv, .Trainernamediv{
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 5vh;
  color: white;
  border: 1px red solid;
}


.Submittrainbuttondiv, .Submitcustbuttondiv{
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 13vw;
  height: 5vh;
  color: white;
  border: 1px red solid;
}

