.Adminpagemain {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: flex-start;
  align-items: center;
  width: 88vw;
  height: 93vh;
  color: white;
  font-family: "Arial", Segoe UI;
}

.Invitetrainer{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86vw;
  height: 7vh;
  color: white;
}

.Invitecustomer{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86vw;
  height: 7vh;
  color: white;
}

.Generatetokentraindiv, .Generatetokencustdiv{
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vw;
  width: 21vw;
  height: 5vh;
  color: white;
}

.Trainernameadmtext, .Customercomptext {
  font-size: 1.1vw;
  font-family: "Arial", Segoe UI;
  color: white;
}

.Trainernameadminputdiv, .Companynameinputdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
   width: 38vw;
 height: 4vh;
 border-radius: 1vh;
 margin-left: auto;
 margin-right: 1px;
}

.Generatetoktrainbut, .Submittrainbut, .Generatetokcustbut, .Submitcustbut {
  font-size: 1.1vw;
  font-family: "Arial", Segoe UI;
  color: white;
  border-radius: 1vh;
  background-color: blue;
}

.Customercompdiv{
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 55vw;
  height: 5vh;
  color: white;
  white-space: nowrap;
}

.Trainernameadmdiv {
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 55vw;
  height: 5vh;
  color: white;
  white-space: nowrap;
}

.Submittrainbuttondiv, .Submitcustbuttondiv{
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vw;
  width: 13vw;
  height: 5vh;
  color: white;
}

.Publishdiv, .Conformdiv {
  display:flex;
  flex-direction: column;
  width: 86vw;
  height: 37.5vh;
} 

.Publishpartdiv, .Conformpartdiv {
  display: flex;
  flex-direction: row;
  width: 86vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

.Publishtitletextdiv, .Conformtitletextdiv {
   width: fit-content;
   height: fit-content;
}

.Trainernameinput, .Companynameinput {
 width: 40vw;
 height: 3vh;
border: none;
 outline: none;
}

.Publishornotencapdiv, .Conformornotencapdiv{
 display:flex;
  flex-direction: column;
  width: 86vw;
  height: 33.25vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1.5vh;
}

