.Classsampleouterpage {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 42vw;
  height: 55vh;
  color: white;
  font-family: "Arial", Segoe UI;
}

.Latesttrainworkshop{
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 5vh;
}

.Classsampleunitdiv {
display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
  width: 40vw;
  height: 43vh;

}

