.Mostouterdiv {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 background-color: white;
 width: 100vw;
 height: 100vh;
}

.Imagelogo {
 width: 8.5vh;
 height: 7vh;
}

.Topdivsmall {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 align-self: flex-start;
 background: 
       linear-gradient(rgba(0, 62, 230, 0.6), 
                      rgba(0, 62, 230, 0.6)
          ),
url("./classroom.jpg");
 background-size: cover;
 width: 99vw;
 height: 70vh;
 border-top-left-radius: 2vh;
 border-top-right-radius: 2vh;
}

.Topdivlarge {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 align-self: flex-start;
 width: 99vw;
 height: 100vh;
 background: 
       linear-gradient(rgba(0, 62, 230, 0.6), 
                      rgba(0, 62, 230, 0.6)
          ),
 url("./classroom.jpg");
 background-size: cover;

 border-radius: 2vh;
}

.Topinsidedivsmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 68vh;
}


.Topinsidedivlarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 98vh;
}

.Topinsidetopdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 5vh; 
}

.Topinsidetopleftdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 8vh;
  background-color: transparent;
  border-radius: 2.5vh;
}

.Topinsidetoprightdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0vw;
  width: 45vw;
  height: 5vh;
}

.Corporatebutton, .Contactusbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 5vh;
  background-color: transparent;
  color: white;
  border: none;
  font-family: "Arial", Segoe UI;
}

.Trainingmenubuttondiv{
  display: block;
  height: fit-content;
}

.Trainingbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 5vh;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Arial", Segoe UI;
}

.Trainingovershow {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10vw;
  height: 15vh;
 background: 
       linear-gradient(rgba(0, 62, 230, 0.6), 
                      rgba(0, 62, 230, 0.6)
          );
}

.Trainingoverhid {
  display: none;
}

.Listedclassbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 4.9vh;
  border: none;
  font-size: 1vw;
  color: white;
  background-color: transparent;
}

.Trainerregisterbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 4.9vh;
  border: none;
  font-size: 1vw;
  color: white;
  background-color: transparent;
}

.Customerpagebutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 4.9vh;
  border: none;  
  font-size: 1vw;
  color: white;
  background-color: transparent;
}

.Adminpagehid {
  display: none;
}

.Adminpageshow{
}


.Contactushid {
  display: none;
}

.Contactusshow{
}

.Listedclasshid {
  display: none;
}

.Listedclassshow{
}

.Trainsylhid {
 display: none;
}

.Trainsylshow {
}


.Trainobjhid {
 display: none;
}

.Trainobjshow {
}


.Labsylhid {
 display: none;
}

.Labsylshow {
}

.Trainersyllabushid {
  display: none;
}

.Trainersyllabusshow{
}


.Topinsidebottomdivhid {
  display: none;
}

.Topinsidebottomdivshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 62vh;
  color: white;
  font-family: "Arial", Segoe UI;
}

.Companyuitextdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 38vh;
}

.Companyuifirsttextdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 38vw;
  height: 8vh;
  text-align: justify;
}


.Companyuisecondtextdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 38vw;
  height: 20vh;
  background-color: #3366ff;
  text-align: justify;
}

.Testiinputhid {
  display: none;
}

.Testiinputshow {
 }

.Testihid {
  display: none;
}

.Testishow {
}

.Customerhid {
  display: none;
}

.Customershow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 42vw;
  height: 60vh;
  color: white;
  font-family: "Arial", Segoe UI;
}


.Trainhid {
  display: none;
}

.Trainshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 42vw;
  height: 60vh;
  color: white;
  font-family: "Arial", Segoe UI;
}

.Bottomdivhid {
 display: none;
}

.Bottomdivshow {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 30vh;
  background-color: white;
  font-family: "Arial", Segoe UI;
}

.Proftraindiv, .Workshopdiv, .Certificatediv {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 29vw;
  height: 28vh;
  background-color: white;
 } 

.Proftrainlogodiv, .Workshoplogodiv, .Certificatelogodiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 10vh;
  background-color: white;
}

.Proftrainboxdiv, .Workshopboxdiv, .Certificateboxdiv {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 8vh;
  background-color: #3366ff;
  border-radius: 2vh;
}

.Proftraintitlecontentdiv, .Workshoptitlecontentdiv, .Certificatetitlecontentdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  height: 10vh;
  background-color: white;
}

.Proftraintitletadiv, .Workshoptitletadiv, .Certificatetitletadiv {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 10vh;
  background-color: white;
}

.Proftrainta, .Workshopta, .Certificateta {
 width: 17vw;
 height: 9vh;
 font-size: 1.1vw;
 font-family: "Arial", Segoe UI;
 border: none;
 resize: none;
 outline: none;
 overflow-y: hidden;
 text-align: center;
 line-height: 8vh;
}

.Proftraincontenttadiv, .Workshopcontenttadiv, .Certificatecontenttadiv {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 19vw;
  height: 17vh;
  background-color: white;
}

.Proftraincontentta, .Workshopcontentta, .Certificatecontentta {
 width: 17vw;
 height: 16vh;
 font-size: 1.1vw;
 font-family: "Arial", Segoe UI;
 border: none;
 resize: none;
 outline: none;
 overflow-y: hidden;
 text-align: justify;
 line-height: 4vh;
}
