.Listedclasscontentpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 88vw;
  height: 17vh;
}

.Listedclasstitlenyapublishtextdiv, .Listedtrainernamepublishtextdiv, 
.Listednamenyapublishtextdiv {
  width: fit-content;
  height: fit-content;
  font-size: 1.1vw;
  font-family: "Arial", Segoe UI;
  color: black;  
}

.Listedclasstitlerowdiv, .Listedtrainernamerowdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86vw;
  height: 5vh;
  background-color: white;
  border-radius: 1.5vh;
  border: 1px black solid;
}

.Listedtrainingpartdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 86vw;
  height: 5vh;
  background-color: transparent;
  border-radius: 1.5vh;
}

.Listedtrainobjbut, .Listedtrainsylbut, .Listedlabsylbut {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
 font-size: 1.1vw;
  font-family: "Arial", Segoe UI;
  background-color: blue;
  color: white;
  border-radius: 1.5vh;
}

.Listedtrainperdiv {
 display:flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 15vw;
 height: 5vh;
 background-color: white;
 border-radius: 1.5vh;
 border: 1px black solid;
}

.Listedtrainbutdiv {
 display:flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 1.5vw;
 margin-left: auto;
 margin-right: 0px;
 width: 50vw;
 height: 5vh;
 background-color: white;
 border-radius: 1.5vh;
 border: 1px black solid;
}

.Listedtrainpertext, .Listedtrainperprops {
 width: fit-content;
  height: fit-content;
  font-size: 1.1vw;
  font-family: "Arial", Segoe UI;
  color: black;  
} 
