.Testiouterpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42vw;
  height: 55vh;
  color: white;
  font-family: "Arial", Segoe UI;
}

.Titletesti{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 5vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}

.Contenttesti{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 41vh;
}

.Testimonialtextdiv {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 39vw;
  height: 29vh;
}

.Testimonialtextarea{
  width: 38vw;
  height: 28vh;
 font-size: 1.2vw;
 font-family: "Arial", Segoe UI;
 color: white;
 resize: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.Nametexttestimonialdiv, .Positiontexttestimonialdiv, .Companytexttestimonialdiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 38vw;
  height: 4vh;
  color: white;
  font-size: 1.2vw;
  font-family: "Arial", Segoe UI;
}

.Slidetesti{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 5vh;
  color: white;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}
