.Trainsylmain {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 93vh;
  color: white;
  font-family: "Arial", Segoe UI;
}

.Trainsyltopdiv{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 87vw;
  height: 91vh;
  background-color: white;
  border-radius: 1vh;
}

.Backbuttontrain {
 position: fixed;
 top: 90vh;
 left: 85vw;
 background-color: blue;
 border-radius: 1.5vh;
 color: white;
 font-size: 1.1vw;
 font-family: "Arial", Segoe UI;
 width: 5vw;
 height: 4vh;
}
 
